.container {
  width: 197px;
  height: 238px;
  background-color: var(--sidebar-card-background);
  border-radius: 8px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.flower {
  width: 54px;
  height: 78px;
  margin-bottom: 14px;
}

.p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--text-color);
  margin-bottom: 18px;
}

.task {
  color: var(--accent);
}

.needHelp {
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.needHelp:hover,
.needHelp:focus {
  & p {
    color: var(--accentBtn);
  }

  & svg {
    stroke: var(--accentBtn);
  }
}

.button {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--text-color);
}

.textHelp {
  transition: color 0.3s ease;
}

.textHelp:hover,
.textHelp:focus {
  color: var(--accentBtn);
}

.icon {
  stroke: var(--text-color);
  fill: transparent;
  transition: color 0.3s ease;
}

@media (min-width: 768px) {
  .container {
    width: 212px;
    height: 272px;
    padding: 20px;
  }

  .flower {
    width: 54px;
    height: 78px;
    margin-bottom: 14px;
  }

  .p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
  }
}
