.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.container h1 {
  font-size: 32px;
  font-weight: 600;
  color: #161616;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .container h1 {
    font-size: 40px;
  }
}
