.priority-picker-form-control {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.priority-picker-radio {
  position: relative !important;
  padding: 0 !important;
  transform: scale(0.8) !important;
}

.priority-picker-radio:before {
  position: absolute !important;
  content: '' !important;
  display: block !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  border: 9px solid transparent !important;
  z-index: 5 !important;
}

.priority-picker-radio-Without:before {
  background-color: var(--without) !important;
  border-color: var(--without) !important;
}

.priority-picker-radio-Low:before {
  background-color: var(--low) !important;
  border-color: var(--low) !important;
}

.priority-picker-radio-Medium:before {
  background-color: var(--medium) !important;
  border-color: var(--medium) !important;
}

.priority-picker-radio-High:before {
  background-color: var(--hight) !important;
  border-color: var(--hight) !important;
}

.priority-picker-radio.Mui-checked:before {
  display: none !important;
}

.priority-picker-radio.Mui-checked {
  transform: scale(0.9) !important;
}

.priority-picker-radio .MuiTouchRipple-root {
  display: none !important;
}

.priority-picker-radio-Without {
  color: var(--without) !important;
}

.priority-picker-radio-Low {
  color: var(--low) !important;
}

.priority-picker-radio-Medium {
  color: var(--medium) !important;
}

.priority-picker-radio-High {
  color: var(--hight) !important;
}
