.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  border-radius: 8px;
  background-color: var(--header-background-color);
}

.fieldBox {
  position: relative;
}

.input {
  position: relative;
  width: 100%;
  padding: 13px 17px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  background-color: transparent;
  color: var(--text-header-color);
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
  &:not(:placeholder-shown) {
    opacity: 1;
  }
}

.textarea {
  position: relative;
  width: 100%;
  min-height: 154px;
  padding: 13px 17px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  border: 1px solid var(--accent);
  border-radius: 8px;
  background-color: transparent;
  color: var(--text-header-color);
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  resize: none;
  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
  &:not(:placeholder-shown) {
    opacity: 1;
  }
}

.errorMessage {
  position: absolute;
  bottom: -15px;
  left: 0;
  color: red;
  font-size: 11px;
}
