:root {
  --logo-background: #1f1f1f;
  --logo-icon: #fff;
  --logo-header-icon: #fff;
  --background-color: #f6f6f7;
  --header-background-color: #fcfcfc;
  --theme-background-color: #fcfcfc;
  --sidebar-background-color: #fff;
  --sidebar-card-background: #f6f6f7;
  --text-color: #161616;
  --text-header-color: #161616;
  --secondary-text-color: rgba(255, 255, 255, 0.8);
  --third-text-color: rgba(22, 22, 22, 0.5);
  --theme-text-color: #161616;
  --thumb-color: rgba(22, 22, 22, 0.1);
  --background-thumb-color: #e8e8e8;
  --accent: #bedbb0;
  --low: #8fa1d0;
  --medium: #e09cb5;
  --without: #bababa;
  --hight: #bedbb0;
  --accentBtn: #9dc888;
  --filter-color: rgba(22, 22, 22, 0.8);
  --add-column-button-background: rgba(255, 255, 255, 1);
  --icon-wrapper-btn: #161616;
  --icon-modal-close: #161616;
  --icon-logout: #bedbb0;
  --label-color: rgba(22, 22, 22, 1);
  --icon-color: rgba(22, 22, 22, 0.5);
  --scrollbar-background: #fff;
  --scrollbar-thumb: #e8e8e8;
  --card-label: rgba(22, 22, 22, 0.5);
  --icon-color-background: #f6f6f7;
  --card-background: #fff;
  --card-secondary-text: rgba(22, 22, 22, 0.7);
  --board-item-active-background: #f6f6f7;
  --board-item-active-accent: #9dc888;
  --board-item-active-icon: #161616;
  --vector-item-liner: rgba(22, 22, 22, 0.1);
  --title-item: rgba(22, 22, 22, 0.5);
  --accent-btn-plus: #bedbb0;
  --accent-plus-profile: #bedbb0;
  --accent-plus-profile-active: #9dc888;
}

.dark {
  --background-color: #1f1f1f;
  --header-background-color: #161616;
  --sidebar-background-color: #121212;
  --sidebar-card-background: #1f1f1f;
  --theme-background-color: #161616;
  --text-color: #fff;
  --text-header-color: #fff;
  --secondary-text-color: rgba(255, 255, 255, 0.7);
  --third-text-color: rgba(255, 255, 255, 0.5);
  --theme-text-color: rgba(255, 255, 255, 0.5);
  --filter-color: rgba(255, 255, 255, 0.8);
  --add-column-button-background: rgba(18, 18, 18, 1);
  --icon-wrapper-btn: #161616;
  --icon-modal-close: #fff;
  --icon-logout: #bedbb0;
  --label-color: rgba(255, 255, 255, 1);
  --icon-color: #888888;
  --scrollbar-background: #161616;
  --scrollbar-thumb: rgba(255, 255, 255, 0.1);
  --card-label: rgba(255, 255, 255, 0.5);
  --icon-color-background: #1f1f1f;
  --card-background: #121212;
  --card-secondary-text: rgba(255, 255, 255, 0.5);
  --board-item-active-background: #1f1f1f;
  --board-item-active-accent: white;
  --board-item-active-icon: white;
  --vector-item-liner: rgba(255, 255, 255, 0.1);
  --title-item: rgba(255, 255, 255, 0.5);
  --accent-btn-plus: #bedbb0;
  --accent-plus-profile: #bedbb0;
  --accent-plus-profile-active: #9dc888;
}

.violet {
  --logo-background: #ecedfd;
  --logo-icon: #5255bc;
  --logo-header-icon: #fff;
  --background-color: #ecedfd;
  --header-background-color: #fff;
  --sidebar-background-color: #5255bc;
  --theme-background-color: #fcfcfc;
  --sidebar-card-background: rgba(236, 237, 253, 0.4);
  --text-color: #fff;
  --text-header-color: #161616;
  --secondary-text-color: rgba(255, 255, 255, 0.7);
  --third-text-color: rgba(22, 22, 22, 0.5);
  --theme-text-color: #161616;
  --accent: #5255bc;
  --accentBtn: #7b7ede;
  --add-column-button-background: rgba(255, 255, 255, 1);
  --icon-wrapper-btn: #fff;
  --icon-modal-close: #161616;
  --icon-logout: #fff;
  --label-color: rgba(22, 22, 22, 1);
  --icon-color: rgba(22, 22, 22, 0.5);
  --scrollbar-background: #fff;
  --scrollbar-thumb: #b8bcfd;
  --card-label: rgba(22, 22, 22, 0.5);
  --icon-color-background: #ecedfd;
  --card-background: #fff;
  --card-secondary-text: rgba(22, 22, 22, 0.7);
  --board-item-active-background: rgba(255, 255, 255, 0.1);
  --board-item-active-accent: white;
  --board-item-active-icon: white;
  --vector-item-liner: rgba(255, 255, 255, 0.1);
  --title-item: rgba(255, 255, 255, 0.5);
  --accent-btn-plus: #b8bcfd;
  --accent-plus-profile: #ecedfd;
  --accent-plus-profile-active: #d6d8ff;
}
