.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--header-background-color);
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  padding: 16px;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  color: transparent;
}
.iconModal {
  width: 16px;
  height: 16px;

  stroke: var(--icon-modal-close);
}

@media (min-width: 375px) {
  .modalContainer {
    width: 335px;
    padding: 24px;
  }

  .closeButton {
    top: 14px;
    right: 14px;
  }

  .iconModal {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 768px) {
  .modalContainer {
    width: 350px;
  }
}
