.title {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--thumb-color);
  font-size: 18px;
}

.text {
  font-weight: 500;
  line-height: 1.5;
  color: var(--label-color);
  letter-spacing: -0.2px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  margin-top: 14px;
}

.subtitle {
  font-size: 14px;
}

.button {
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  color: var(--third-text-color);
  letter-spacing: -0.2px;
  font-size: 12px;
  transition: color 0.3s ease;
}

.button::after {
  position: absolute;
  content: '';
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--third-text-color);
  transition: background-color 0.3s ease;
}

.button:hover::after {
  background-color: var(--label-color);
}

.button:hover {
  color: var(--label-color);
}

.control {
  margin-top: 14px;
}

.label {
  margin-left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: var(--third-text-color);
}

.checked-label {
  color: var(--label-color);
}

.radio {
  position: relative;
  padding: 0;
  margin-right: 8px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.radio::after {
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.radio-without-priority:not(.checked)::after {
  background: #b7b7b7;
}

.radio-low:not(.checked)::after {
  background: var(--low);
}

.radio-medium:not(.checked)::after {
  background: var(--medium);
}

.radio-high:not(.checked)::after {
  background: var(--hight);
}

.radio-color-without-priority {
  color: #b7b7b7;
}

.radio-color-low {
  color: var(--low);
}

.radio-color-medium {
  color: var(--medium);
}

.radio-color-high {
  color: var(--hight);
}

.radio:hover {
  background: transparent;
}
