.container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 40px;
}

.title {
  color: var(--label-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 1.5;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  color: var(--filter-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 1.5;
  transition: color 0.3s ease;
}

.button:hover {
  color: var(--accent);
}

.icon {
  stroke: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    margin-bottom: 26px;
  }

  .title {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
  }

  .button {
    margin-right: 24px;
  }
}
