.boardContainer {
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-header-color);
  margin-bottom: 24px;
}

.newBoardTitle {
  color: var(--label-color);
}

.titleInput {
  border: none;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  min-width: 100%;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  opacity: 0.4;
  font: 400 14px 'Poppins', sans-serif;
  letter-spacing: -0.02em;
  color: #161616;
  padding: 14px 18px;
}
.titleInput:focus,
.titleInput:hover {
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  opacity: 1;
  border: 1px solid #bedbb0;
  outline: none;
}
.error {
  display: flex;
  font: 400 12px 'Poppins', sans-serif;
  color: #e74c3c;
  margin-top: 4px;
}
.iconText {
  font: 500 14px 'Poppins', sans-serif;
  letter-spacing: -0.02em;
  color: var(--text-header-color);
  margin-bottom: 14px;
  margin-top: 24px;
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 8px;
}
.iconLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}
.iconLabel input[type='radio'],
.backgroundLabel input[type='radio'] {
  display: none;
}

.iconLabel input[type='radio']:checked + svg {
  stroke: var(--text-header-color);
  fill: none;
}

.icon {
  width: 18px;
  height: 18px;
  stroke: var(--icon-color);
  fill: none;
  transition: fill 0.3s ease;
}

.backgroundText {
  font: 500 14px 'Poppins', sans-serif;
  letter-spacing: -0.02em;
  color: var(--text-header-color);
  margin-bottom: 14px;
}

.backgroundsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
  padding-right: 35px;
}

.backgroundLabel {
  width: calc(12.5% - 4px);
  cursor: pointer;
}

.backgroundImage {
  width: 28px;
  height: 28px;
  transition: border 0.3s ease;
  border-radius: 6px;
}

.backgroundIcon {
  width: 28px;
  height: 28px;
  transition: border 0.3s ease;
  border-radius: 6px;
  stroke: var(--icon-modal-close);
  fill: none;
  background-color: var(---icon-color-background);
  stroke-opacity: 0.1;
}

.selected .backgroundImage,
.selected .backgroundIcon {
  border: 3px solid #bedbb0;
}

.createBtn {
  border-radius: 8px;
  width: 302px;
  height: 49px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #bedbb0;
}

.createBtn:hover,
.createBtn:focus {
  background-color: #9dc888;
}
