.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  width: 335px;
  border-radius: 8px;
  background-color: #151515;
  padding: 24px;
}

@media only screen and (max-width: 374px) {
  .wrapper {
    width: 90vw;
    padding: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 424px;
    padding: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  border-radius: 8px;
  background-color: #151515;
}

.linkNav {
  display: flex;
  gap: 14px;
  margin-bottom: 26px;
}

.registerLink {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.36px;
  color: #fff;
}

.loginLink {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.36px;
  color: #fff;
  opacity: 0.4;
}

.input {
  position: relative;
  width: 100%;
  padding: 13px 17px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  border: 1px solid var(--hight);
  border-radius: 8px;
  background-color: #1f1f1f;
  color: #fff;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}

.errorMessage {
  position: fixed;
  font-size: 11px;
  color: red;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeButton {
  position: absolute;
  right: 18px;
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  opacity: 0.4;
}

.btnSubmit {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161616;
  border-radius: 8px;
  background-color: var(--hight);
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #9dc888;
  }
}
