.icon {
  width: 18px;
  height: 18px;
  stroke: var(--accent) !important;
  fill: transparent !important;
}

.MuiDateCalendar-root {
  background-color: var(--header-background-color);
}

.MuiInputBase-root {
  background-color: transparent !important;
  cursor: pointer !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  font-family: inherit !important;
}

.MuiInputBase-input {
  font-size: 16px !important;
  color: var(--accent) !important;
  text-align: left !important;
  cursor: pointer !important;
  padding: 0 !important;
  user-select: none !important;
  opacity: 1 !important;
}

.MuiInputBase-input::selection {
  background: transparent !important;
  color: inherit !important;
}

.MuiInputAdornment-root {
  display: none !important;
}

.MuiInputBase-root::before,
.MuiInputBase-root::after {
  display: none !important;
}

.MuiPickersCalendarHeader-root {
  margin: 14px 18px 8px !important;
  padding: 0 !important;
  border-bottom: 1px solid #e3e3e3 !important;
}

.MuiPickersCalendarHeader-root .MuiTypography-root {
  font-size: 16px !important;
  font-weight: bold !important;
  color: var(--text-color) !important;
}

.MuiPickersCalendarHeader-root .MuiIconButton-root {
  color: #aaaaaa !important;
}

.MuiPickersCalendarHeader-label {
  font-weight: 600 !important;
  color: var(--text-header-color) !important;
}

.MuiPickersCalendarHeader-switchViewIcon {
  display: none !important;
}

.MuiPickersCalendarHeader-labelContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: inherit !important;
}

.MuiPickersDay-root {
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--text-header-color) !important;
}

.MuiPickersDay-root.Mui-selected {
  background-color: var(--accent) !important;
  font-weight: 600 !important;
  color: var(--text-color) !important;
}

.MuiPickersDay-root:not(.Mui-selected) {
  border: none !important;
}

.MuiPickersDay-root:hover,
.MuiPickersDay-root:focus {
  background-color: var(--accent) !important;
  color: var(--text-color) !important;
}

.MuiPickersDay-root.Mui-disabled {
  color: #aaaaaa !important;
}

.MuiPickersActionBar-root {
  display: none !important;
}

.MuiPickersYear-yearButton {
  font-family: inherit !important;
  color: var(--text-color) !important;
}

.MuiPickersYear-yearButton:hover,
.MuiPickersYear-yearButton:focus {
  background-color: var(--accent) !important;
  color: var(--text-color) !important;
}

.MuiPickersArrowSwitcher-button svg {
  fill: var(--accent) !important;
}

.Mui-disabled svg {
  fill: var(--text-color) !important;
}

.MuiButtonBase-root {
  font-family: inherit !important;
}

.MuiTypography-root {
  font-family: inherit !important;
}

.MuiDayCalendar-weekDayLabel {
  font-size: 14px !important;
  color: #aaaaaa !important;
}

.MuiPickersArrowSwitcher-root {
  justify-content: space-between !important;
  width: 100% !important;
}

.MuiInputBase-root.Mui-focused .MuiInputBase-input {
  color: var(--accent) !important;
  opacity: 1 !important;
}

.MuiInputBase-input::placeholder {
  color: var(--accent) !important;
}

.MuiPickersToolbar-root {
  display: none !important;
}

.Mui-selected {
  background-color: var(--accent) !important;
  color: var(--text-color) !important;
}
