.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(180deg, rgb(247, 245, 245) 25%, #bedbb0 92.19%);
}

.container h1 {
  font-size: 36px;
  font-weight: 600;
  color: #161616;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .container h1 {
    font-size: 44px;
  }
}
