.themeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding-bottom: 5px;
  padding-top: 5px;
}

.themeWrapper:hover {
  border-bottom-color: var(--accent);
}

.themeToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  font-family: Poppins;
  color: var(--filter-color);
  font-size: 14px;
  font-weight: 500;
}

.arrowIcon {
  fill: none;
  stroke: var(--filter-color);
  width: 16px;
  height: 16px;
}

.activeItem {
  color: var(--accent) !important;
}
